<!DOCTYPE HTML>
<html>
  <head>
    <title>数据字典管理</title>
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" type="text/css" href="${webPath}/widgets/easyui1.3.6/themes/default/easyui.css" />
    <link rel="stylesheet" type="text/css" href="${webPath}/widgets/easyui1.3.6/themes/icon.css" />
    <script type="text/javascript" src="${webPath}/widgets/easyui1.3.6/jquery.min.js"></script>
    <script type="text/javascript" src="${webPath}/widgets/easyui1.3.6/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="${webPath}/widgets/easyui1.3.6/commons.js"></script>
    <script type="text/javascript" src="${webPath}/widgets/easyui1.3.6/locale/easyui-lang-zh_CN.js"></script>
     <script type="text/javascript" src="${webPath}/widgets/jquery/MD5.js"></script>
    <script type="text/javascript">
    	var param = EasyUIExt.myOpener.param;
    	$(function(){
    		$("#form-id").val(param.entity.id);
    		var url = "${webPath}/system/user/updateUserPassword.htm";
    		var index ; 
    		$("#myForm").form({
    			url : url,
    			onSubmit:function(){
    				index = top.layer.load(1, {
    				    shade: [0.5,'#000'] //0.1透明度的白色背景
    				});
    			},
    			success:function(data){
    				top.layer.close(index);
					var data = eval('(' + data + ')');
					param.success(EasyUIExt.myOpener.dialog,data);
			    } 
			});
			$("#myForm").form("disableValidation");
			$("#myForm").form("enableValidation");
    	});
    	
    	function submitForm(){
    		if($("#myForm").form("validate")){
    			//加密密码
    			$("#form-password").val(MD5($("#form-password").val()))
				$("#myForm").submit();
			}
    	}
 
    </script>
  </head>
  
  <body>
  	<form id="myForm" method="post">
	  	 <input id="form-id" type="hidden" name="id" value="0"/>
	  	 <table class="form-table">
	  	 	<tr>
	  	 		<td class="form-label">确定密码</td>
	  	 		<td class="form-input">
	  	 			<input id="form-password" type="password" style="width: 150px;" name="password" class="easyui-validatebox" data-options="required:true" />
	  	 		</td>
	  	 	</tr>
	  	 	<tr>
	  	 		<td class="form-label">确定密码</td>
	  	 		<td class="form-input">
	  	 			<input id="form-rpassword"  class="easyui-validatebox"  type="password" data-options="required:true" validType="equals['#form-password']" />
	  	 		</td>
	  	 	</tr>
	  	 </table>
  	 </form>
  	<div class="dialog-button">
    	<a onclick="submitForm();" class="easyui-linkbutton" href="javascript:void(0);" data-options="plain:false,iconCls:'icon-ok'">确定</a>
  		<a onclick="EasyUIExt.closeDialog();" class="easyui-linkbutton" href="javascript:void(0);" data-options="plain:false,iconCls:'icon-cancel'">取消</a>     
    </div>
  </body>
</html>
