<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<title>留言管理</title>
<link rel="stylesheet" type="text/css" href="${base.contextPath}/widgets/easyui1.3.6/themes/default/easyui.css">
<link rel="stylesheet" type="text/css" href="${base.contextPath}/widgets/easyui1.3.6/themes/icon.css">
<link rel="stylesheet" type="text/css" href="${base.contextPath}/widgets/easyui1.3.6/themes/button.css">
<script type="text/javascript" src="${base.contextPath}/widgets/jquery/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="${base.contextPath}/widgets/easyui1.3.6/jquery.easyui.min.js"></script>
<script type="text/javascript" src="${base.contextPath}/widgets/easyui1.3.6/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="${base.contextPath}/widgets/easyui1.3.6/commons.js"></script>
<script type="text/javascript">
	jQuery(function() {
		jQuery("#emailTb").datagrid({
			url:'${webPath}/system/email/getEmailPage.htm',
			striped : true,
			fit:true,
			pageList:[10,15,20,30,50],
			pagination:true,
			rownumbers:true,
			toolbar:"#toolBar",
			columns:[[
				  {field:"checkbox",checkbox:true},
				  {field:'email',title:'主任信箱',width:250,sortable:true,align:'center'},
		          {field:'name',title:'主任姓名',width:250,sortable:true,align:'center'}, 
		          {field:'position',title:'职位',width:250,sortable:true,align:'center'},
		          {field:'isValid',title:'状态',width:100,align:'center',formatter:function(v){
			    	  if(v=='1'){return "有效"}else{return "无效"} 
			    	  }
			      }]],
			onLoadSuccess:function(){
				jQuery(this).datagrid("unselectAll");
			},
			loadFilter:function(data){
				data.data.rows = data.data.data;
				return data.data;
			}  
    	});
	});
	
	// 查询
	function queryDictValue() {
		var queryParam = {};
		if ($("#txtName").val()) {
			queryParam.adcontent = $("#txtName").val();
		}
		$("#emailTb").datagrid("load", queryParam);
	}
	// 新增
	function addEmail(){
		EasyUIExt.iframeDialog({
			url:'${webPath}/system/email/loadAddEmail.htm',
			width:400,
			height:300,
			title:"新增信箱",
			param:{
				entity:null,
				type:"add",
				success : function(dialog,data){
					var icon = data.code=="success"?1:2;
				 	top.layer.alert(data.message, {icon: icon,skin: 'layer-ext-moon'});
				 	jQuery("#emailTb").datagrid("reload");
					dialog.dialog("close");
				}
			}
		});
	}
	// 修改
	function updateEmail() {
		var selected = jQuery("#emailTb").datagrid("getSelections");
		if (selected.length != 1) {
			top.$.messager.alert("提示信息", "请选择一条数据进行操作！");
			return;
		}
		EasyUIExt.iframeDialog({
			url : '${webPath}/system/email/loadUpdateEmail.htm?ids='+selected[0].id,
			width : 400,
			height : 300,
			title : "修改",
			param : {
				type : "update",
				entity : selected[0],
				success : function(dialog, data) {
					jQuery("#emailTb").datagrid("reload");
					dialog.dialog("close");
				}
			}
		});
	}
	//删除信息
	function deleteEmail() {
		var selected = $("#emailTb").datagrid("getSelections");
		if (selected.length == 0) {
			top.$.messager.alert("提示信息", "请选择数据！");
			return;
		}
		var idlist = [];
		for (var i = 0, len = selected.length; i < len; i++) {
			idlist.push(selected[i].id);
		}
		top.$.messager.confirm("提示信息", "是否确定删除？", function(r) {
			if (r) {
				jQuery.ajax({
					url : "${webPath}/system/email/deleteEmail.htm",
					dataType : "json",
					type : "post",
					data : {
						ids : idlist.join(",")
					},
					success : function(data) {
						var icon = data.code == "success" ? 1 : 2;
						top.layer.alert(data.message, {
							icon : icon,
							skin : 'layer-ext-moon'
						});
						jQuery("#emailTb").datagrid("reload");
					}
				});
			}
		});
	}
	
	//重置
	function resetQuery(){
	   $("#txtadcontent").val("");
	   $("#txtusername").val("");
	   $("#txtphone").val("");
		queryDictValue();
	}
</script>
</head>
<body>
	<div class="easyui-layout" data-options="fit:true,border:false">
		<div data-options="region:'center',title:'信箱列表',border:false">
			<table id="emailTb"></table>
		</div>
		<div id="toolBar" class="search-toolbar">
			<table>
				<tr>
					<td class="search-label" style="width: 55px;">姓名</td>
					<td class="search-input"><input style="width: 95px;"
						id="txtName" type="text" /></td>
					<td><a onclick="queryDictValue();" class="easyui-linkbutton"
						data-options="iconCls:'icon-search',plain:false">查询</a> <a
						onclick="resetQuery();" class="easyui-linkbutton"
						data-options="iconCls:'icon-undo',plain:false">重置</a></td>
				</tr>
			</table>
			<div>
	  			<a onclick="addEmail();" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true">新增</a>
	  			<a onclick="updateEmail();" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true">修改</a>
	  			<a onclick="deleteEmail();" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true">删除</a>
  			</div>
		</div>
	</div>
</html>