<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>湖北省安全生产宣传教育中心</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="shortcut icon" type="image/x-icon"
	href="${webPath}/resource/front/images/v2/favicon.ico" media="screen">
<link href="${webPath}/resource/front/css/base.css" rel="stylesheet"
	type="text/css" />
<link href="${webPath}/resource/front/css/globle.css" rel="stylesheet"
	type="text/css" />
<link href="${webPath}/resource/front/css/style.css" rel="stylesheet"
	type="text/css" />
<link href="${webPath}/resource/front/css/v2/master.css"
	rel="stylesheet" type="text/css">
<link rel="stylesheet" href="${webPath}/resource/front/css/v2/index.css">
<script type="text/javascript"
	src="${webPath}/resource/front/js/jquery.min.js"></script>
<script type="text/javascript" src="${webPath}/widgets/layer/layer.js"></script>
<style>
.newsTitle:HOVER{
	color: #e9654b;
	text-decoration: underline;
	cursor: pointer;
}
.content .lists{
	padding-left: 80px;
	line-height: 30px
}
.time{
	float:right;
	padding-right: 80px;
}
</style>
</head>
<body>
	<div class="wrap">
		${httpInclude.include("/top.htm")}
		<div class="content">
			<div class="location">您当前位置： 首页 >投诉咨询</div>
			<div  class="search-btn-group">
		        <form name="form1" method="post" action="${webPath}/advice/adviceList.htm" style="text-align: right;display: block;margin-bottom:5px;">
		          <a type="button" href="${webPath}/advise/index.htm" id="searchAll" target="_blank" class="btn-1" style="cursor: pointer;width:70px;height:28px;
		          display: inline-block;text-align:center;line-height:28px;vertical-align: middle;text-decoration: none;color:#fff!important;">我要投诉</a>
	              <input name="textSeacher" type="text" id="textSeacher" value="" placeholder="请输入标题" style="display: inline-block;">
	              <input name="搜索" type="submit" value="搜索" id="search" class="btn-1" style="display: inline-block;background:#1E5B9C;cursor: pointer;">   
		          <a type="button" href="${webPath}/advice/adviceList.htm" id="searchAll" class="btn-1" style="cursor: pointer;width:60px;height:28px;
		          display: inline-block;text-align:center;line-height:28px;vertical-align: middle;text-decoration: none;color:#fff!important;">全部</a>
		        </form>
      		</div>
			<div class="mgt-5 mgb-10 clear">
			<#if (advisePage.rows?exists)&&(advisePage.rows?size>0)> 
			<#list advisePage.rows as advice>
				<div class="lists">
					<a href="${webPath}/advice/detail.htm?id=${advice.id}" class="newsTitle">${html.delHTMLTag(advice.title,40)}</a>
					<span class="time">${advice.createdate?string("yyyy/MM/dd")}</span>
					<div class="clear"></div>
				</div>
			</#list>
			<div class="index_cen_righ_fy">
				<ul>
					<li><a href="${webPath}/advice/adviceList.htm?page=1">首页
					</a></li>
					<li><a
						href="${webPath}/advice/adviceList.htm?page=${advisePage.before}">上一页</a></li>
					<#list advisePage.pageListStart..advisePage.pageListEnd as i>
						<li style="<#if page==i>background: #e14730;</#if>">
							<a href="${webPath}/advice/adviceList.htm?page=${i}">${i}</a>
						</li>
					</#list>
					<li><a href="${webPath}/advice/adviceList.htm?page=${advisePage.next}">下一页</a></li>
					<li><a href="${webPath}/advice/adviceList.htm?page=${advisePage.count_page}">尾页</a></li>
				</ul>
			</div>
			<#else>
			<h1 style="text-align: center; font-size: 24px;">暂无数据</h1></#if>
			</div>
		</div>
		${httpInclude.include("/foot.htm")}
	</div>
	<input type="hidden" id="textContent" name="textContent" value="${textSeacher}">
<script>
//搜索内容回显
$(function(){
	var textContent = $("#textContent").val();
	if(null != textContent && '' != textContent){
		$("#textSeacher").val(textContent);
	}
});
</script>
</body>
</html>