<div class="footer">主办方：湖北省安全生产宣传教育中心&nbsp;&nbsp;&nbsp;
  单位地址：湖北省武汉市武昌区武珞路360号<br>
  联系电话：027-67120959&nbsp;&nbsp;&nbsp;鄂ICP备案：16003512号-1</div>

<script src="${webPath}/resource/front/js/jquery-1.11.3.min.js"></script>
<!-- 百度统计开始  -->
<!-- <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?e508383edae0dbc139c64be65e114193";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script> -->
<!-- 百度统计结束  -->

<!-- 统计 -->
<!-- <script type="text/javascript">
	var caution = false
	function setCookie(name, value, expires, path, domain, secure) {
		var curCookie = name + "=" + escape(value)
				+ ((expires) ? ";expires=" + expires.toGMTString() : "")
				+ ((path) ? "; path=" + path : "")
				+ ((domain) ? "; domain=" + domain : "")
				+ ((secure) ? ";secure" : "")
		if (!caution || (name + "=" + escape(value)).length <= 4000) {
			document.cookie = curCookie
		} else if (confirm("Cookie exceeds 4KB and will be cut!")) {
			document.cookie = curCookie
		}
	}
	function getCookie(name) {
		var prefix = name + "="
		var cookieStartIndex = document.cookie.indexOf(prefix)
		if (cookieStartIndex == -1) {
			return null
		}
		var cookieEndIndex = document.cookie.indexOf(";", cookieStartIndex
				+ prefix.length)
		if (cookieEndIndex == -1) {
			cookieEndIndex = document.cookie.length
		}
		return unescape(document.cookie.substring(cookieStartIndex
				+ prefix.length, cookieEndIndex))
	}
	function deleteCookie(name, path, domain) {
		if (getCookie(name)) {
			document.cookie = name + "=" + ((path) ? "; path=" + path : "")
					+ ((domain) ? "; domain=" + domain : "")
					+ "; expires=Thu, 01-Jan-70 00:00:01 GMT"
		}
	}
	function fixDate(date) {
		var base = new Date(0)
		var skew = base.getTime()
		if (skew > 0) {
			date.setTime(date.getTime() - skew)
		}
	}
	var now = new Date()
	fixDate(now)
	now.setTime(now.getTime() + 365 * 24 * 60 * 60 * 1000)
	var visits = getCookie("counter")
	if (!visits) {
		visits = 1;
	} else {
		visits = parseInt(visits) + 1;
	}
	setCookie("counter", visits, now)
	document.write("您是到访的第" + visits + "位用户！")
</script> -->