<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<title>湖北省安全生产宣传教育中心</title>
<link rel="shortcut icon" type="image/x-icon" href="${webPath}/resource/front/images/v2/favicon.ico" media="screen">
<link href="${webPath}/resource/front/css/v2/master.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="${webPath}/resource/front/css/v2/index.css">
<link href="${webPath}/resource/front/css/style.css" rel="stylesheet" type="text/css"/>
<link href="${webPath}/resource/front/css/base.css" rel="stylesheet" type="text/css"/>
<link href="${webPath}/resource/front/css/globle.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="${webPath}/widgets/jquery/jquery-1.11.3.min.js"></script>

</head>
<body>
  <div class="wrap">
     ${httpInclude.include("/top.htm")}
     <div class="content">
    <div class="location">您当前位置：政策法规&gt; <#if (dictList?exists)&&(dictList?size>0)><#list dictList as dict><#if dict.id==did>${dict.dictName}</#if></#list></#if></div>
     <div class="mgt-20">
	   <div class="fl category-box">
         <div class="current-category">
				政策法规
	     </div>
	     <div class="list-category">
	        <#if (dictList?exists)&&(dictList?size>0)>
	             <ul>
	              <#list dictList as dict>
	                 <li class="<#if dict.id==did>category-select </#if>">
		                 <div>
		                     <a href="${webPath}/law/list/${dict.id}/1.htm">${html.delHTMLTag(dict.dictName,20)}</a>
		                 </div>
	                 </li>
	              </#list>
	             </ul>
	        </#if>
	     </div>  
	   </div>
	   <div class="fl mgl-10 max-item-box">
	      <div class="news-list-wrap">
	         <#if (lawPage.rows?exists)&&(lawPage.rows?size>0)>
	             <ul>
	              <#list lawPage.rows as law>
		             <li>
		              <a href="${webPath}/law/detail/${law.id}.htm">${html.delHTMLTag(law.tilte,20)}</a>
		              <span class="time">${law.adddate?string('yyyy/MM/dd')}</span>
		              <div class="clear"></div>
		             </li>
	              </#list>
	            </ul>
	         </#if>
	      </div>
	        <div class="index_cen_righ_fy" >
                   <#if (lawPage.rows?exists)&&(lawPage.rows?size>0)>
                	<ul>
                    	<li><a href="${webPath}/law/list/${did}/1.htm">首页 </a></li>
	                    <li><a href="${webPath}/law/list/${did}/${lawPage.before}.htm">上一页</a></li>
                    	<#list lawPage.pageListStart..lawPage.pageListEnd as i>
                    	  <li style="<#if page==i>background: #e14730;</#if>"><a href="${webPath}/law/list/${did}/${i}.htm" >${i}</a></li>
                    	</#list>
                    	<li><a href="${webPath}/law/list/${did}/${lawPage.next}.htm">下一页</a></li>
	                    <li><a href="${webPath}/law/list/${did}/${lawPage.count_page}.htm">尾页</a></li>
                    </ul>
                    <#else>
                    <h1 style="text-align: center;font-size: 24px;">暂时没有数据</h1>
                  </#if>
          </div>
	   </div>
   </div>   
</div>
      ${httpInclude.include("/foot.htm")}
  </div>
</body>
</html>