<div class="top">
  <div class="top-02">
    <div class="FL"><img src="${webPath}/resource/front/images/v2/logo-tx-01.png" alt="" width="599" height="98" align="bottom"/></div>
    <div class="top-03">
      <div  class="top-03-01 search-btn-group">
        <form name="form1" method="post" action="${webPath}/search.htm">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="65%"><input name="textfield" type="text" id="textfield" value="" size="28"></td>
              <td width="35%"><input name="搜索" type="submit" value="搜索" id="search" class="btn-1"></td>
            </tr>                
          </table>   
        </form>
      </div>
      <div  class="top-03-02">
        <ul>
          <li><a href="${webPath}/index.htm" style="text-decoration: none;">首页</a></li>
          <li><a href="${webPath}/news/list/54.htm"  style="text-decoration: none;">公开</a></li>
          <li><a href="${webPath}/news/list/49.htm"  style="text-decoration: none;">新闻</a></li>
          <li><a href="${webPath}/news/list/64.htm"  style="text-decoration: none;">服务</a></li>
          <li><a href="${webPath}/question/interact.htm?type=1&page=1"  style="text-decoration: none;">互动</a></li>
          <li><a href="${webPath}/news/list/71.htm"  style="text-decoration: none;">中心工作</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>